<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Codegenixuk\ImageBlock\Api\ImageBlockRepositoryInterface" type="Codegenixuk\ImageBlock\Model\ImageBlockRepository"/>
	<preference for="Codegenixuk\ImageBlock\Api\Data\ImageBlockInterface" type="Codegenixuk\ImageBlock\Model\ImageBlock"/>
	<preference for="Codegenixuk\ImageBlock\Api\Data\ImageBlockSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Codegenixuk\ImageBlock\Model\ResourceModel\ImageBlock\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">codegenixuk_imageblock_imageblock</argument>
			<argument name="resourceModel" xsi:type="string">Codegenixuk\ImageBlock\Model\ResourceModel\ImageBlock\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="codegenixuk_imageblock_imageblock_listing_data_source" xsi:type="string">Codegenixuk\ImageBlock\Model\ResourceModel\ImageBlock\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

    <virtualType name="VirtualTypeName" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">codegenixuk/imageblock/image</argument>
            <argument name="basePath" xsi:type="string">codegenixuk/imageblock/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Codegenixuk\ImageBlock\Controller\Adminhtml\ImageBlock\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
        </arguments>
    </type>

</config>
